<!doctype html>
<html>
  <head>
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/boggle.css">
  </head>
  <body>
    <section id="boggle">

      <table class="board">
        <tbody>
          {% for row in board %}
          <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <form method="POST" class="add-word">
        <input name="word" class="word" autofocus>
        <button>Enter</button>
      </form>

    </section>
  </body>
</html>
